* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.fixed {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}


nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #000;
}

nav li {
    display: inline-block;
    padding: 24px 40px;
    font-size: 20px;
    font-weight: 400;
}

nav li a {
    color: #fff;
    text-transform: uppercase;
}

section {
    height: 100vh;
}

#landing-page {
    background: url(hub1.1-bg.png) 50% 50% no-repeat;
    background-size: cover;
}

#landing-page h1 {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 20px;
    color:white;
    font-weight: 700;
    font-size: 55px;
}


#landing-page h2 {
  position: absolute;
  top: 85.5%;
  left: 0.5%;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  font-family: Arial;
}



#content {
  font-family: 'Poppins',sans-serif;
    background: #fff;
}


#content2 {
  font-family: 'Poippins',sans-serif;
    background: #fff;
}

#content li{
    text-decoration: underline;
    color: #FFFFFF;
}
#content2 li{
  font-family: 'MinecraftiaRegular';
      text-decoration: underline;
    color: #00000;
}
p {
    width: 80%;
    margin: 40px auto;
    text-align: justify;
    color: black;
    line-height: 30px;
    font-size: 16px;

}

@media only screen and (max-width: 520px) {

    nav li {
        padding: 24px 4px;
    }

    nav li a {
        font-size: 14px;
    }

}
